<div class="container">

  <section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-200">
      <div class="row d-flex justify-content-center align-items-center h-200">
        <div class="col-md-12 col-xl-100">
  
          <div class="card">
            <div class="card-heading">
              <h5 class="title"><i class="fas fa-tasks me-2"></i>Liste des Profiles</h5>
            </div>
            <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 600px">
  
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Rôle</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody *ngFor="let listProfile of listeProfile" >
                  <tr class="fw-normal">
                    <th>
                      <span class="ms-2"></span>
                    </th>
                    <td class="align-middle">
                      <span ></span >
                    </td>
                    <td class="align-middle">
                      <h6 class="mb-0"><span class="badge bg-danger"></span></h6>
                    </td>
                  </tr>
                  <tr class="fw-normal">
                    <th>
                     
                      <span class="ms-2">{{listProfile.nom}}</span>
                    </th>
                    <td class="align-middle" >{{listProfile.roles[0].name}}</td>
                    <td class="align-middle">
                      <a (click)="view(listProfile.id)" data-mdb-toggle="tooltip" title="View">View<i class="view gg-eye"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                      <br>
                      <a data-mdb-toggle="tooltip" title="Done">Edit<i class="fas fa-check text-success me-3"></i></a>
                      <br>
                      <a (click)="delete(listProfile.id)" data-mdb-toggle="tooltip" title="Remove " *ngIf="listProfile.roles[0].name!='ROLE_ADMIN'">&nbsp;&nbsp;<i class="remove gg-trash">Remove</i>&nbsp;</a>
                    </td>
                    </tr>                                                   
                  </tbody>
              </table>
  
            </div>
            
          </div>
  
        </div>
      </div>
    </div>
  </section>

</div>
