




<div class="container">

  <section class="vh-100" >
    
      <div >
        <div class="col-md-12 col-xl-100">

          <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
            <div class="wrapper wrapper--w790">
            <div class="card card-5">

            <div class="card-heading">
                <h5 class="title">Liste des profils</h5>
              </div>
              <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 100%;">
               
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th class="th" scope="col">Nom</th>
                    <th class="th" scope="col">Rôle</th>
                    <th class="th" scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody *ngFor="let listProfile of listeProfile" >
                  <tr class="fw-normal">
                    <th>
                      <span class="ms-2"></span>
                    </th>
                    <td class="align-middle">
                      <span ></span >
                    </td>
                    <td class="align-middle">
                      <h6 class="mb-0"><span class="badge bg-danger"></span></h6>
                    </td>
                  </tr>
                  <tr class="fw-normal">
                    <th>
                     
                      <span class="ms-2">{{listProfile.nom}} {{listProfile.prenom}} </span>
                    </th>
                    <td class="align-middle" >{{listProfile.roles[0].name}}</td>
                    <td class="align-middle">
                      <a (click)="view(listProfile.id)" data-mdb-toggle="tooltip" title="View"><i class="view gg-eye"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                      <a (click)="edit(listeProfile.id)" data-mdb-toggle="tooltip" title="Edit" *ngIf="listProfile.roles[0].name!='ROLE_ADMIN'">&nbsp;&nbsp;<i class="gg-edit-markup"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                      <a (click)="delete(listProfile.id)" data-mdb-toggle="tooltip" title="Remove " *ngIf="listProfile.roles[0].name!='ROLE_ADMIN'">&nbsp;&nbsp;<i class="remove gg-trash"></i>&nbsp;</a>
                    </td>
                    </tr>                                                   
                  </tbody>
              </table>

              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
    </section>

  </div>
