<div id="app">
  <nav class="navbar navbar-expand navbar-custom">
      <img class="img" src="/assets/Logo.png" />
    <ul class="navbar-nav " routerLinkActive="active">

      <li class="nav-item">
        <a class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a class="nav-link" routerLink="profiles">Liste Profiles</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a  class="nav-link" routerLink="ajout">Ajouter Profile</a>
      </li>
      <li class="nav-item" *ngIf="showCollaborateurBoard">
        <a class="nav-link" routerLink="miss">Demande de mission</a>
      </li>
      <li class="nav-item" *ngIf="showCollaborateurBoard">
        <a class="nav-link" routerLink="NDF">Demande de note de frais</a>
      </li>
      <li class="nav-item" *ngIf="showCollaborateurBoard || showManagerBoard">
        <a class="nav-link" routerLink="listeM">Liste Missions</a>
      </li>
      <li class="nav-item" *ngIf="showCollaborateurBoard || showPaieBoard">
        <a class="nav-link" routerLink="listeNDF">Liste notes de frais</a>
      </li>
      <li class="nav-item" *ngIf="showAssistBoard">
        <a class="nav-link" routerLink="admin">Reservations</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">

      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout($event)">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>
