<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <source>
  </head>


  <body>
          <form [formGroup]="basicForm" #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>nom</label>
              <input type="text" class="form-control" formControlName="nom"  [ngModel]="mission.nom">

            </div>

            <div class="form-group">
              <label>passport</label>
              <input type="text" class="form-control" formControlName="passport" [ngModel]="mission.passport" >

            </div>
            <div class="form-group">
              <label>DateDeDebut</label>
              <input type="date" class="form-control" formControlName="dateDeDebut" [ngModel]="mission.dateDeDebut">

            </div>

            <div class="form-group">
              <label>DateFin</label>
              <input type="date" class="form-control" formControlName="dateDeFin" [ngModel]="mission.dateDeFin">

            </div>



            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" formControlName="description"[ngModel]="mission.description" >

            </div>
            <div class="form-group">
              <label>Pays</label>
              <input type="text" class="form-control" formControlName="pays" [ngModel]="mission.pays">

            </div>
            <div class="form-group">
            <label>Ville</label>
            <input type="text" class="form-control" formControlName="ville" [ngModel]="mission.ville">
          </div>

      </form>
          <button class="btn btn--radius-2 btn--red" type="submit" >Update</button>

  </body>


