<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <source>
</head>


<body>
    <form name="form" [formGroup]="basicForm" #form="ngForm" (ngSubmit)="onSubmit()">

        <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
            <div class="wrapper wrapper--w790">
                <div class="card card-5">
                    <div class="card-heading">
                        <h2 class="title">Demande de note de frais</h2>
                    </div>

                    <div class="card-body">
                        <div class="form-group">

                            <div class="form-row m-b-55">
                                <div class="name">Données Personnelles</div>
                                <div class="value">
                                    <div class="row row-space">
                                        <div class="col-2">
                                            <div class="input-group-desc">
                                                <input required class="input--style-5" type="text"
                                                    formControlName="nom"  [ngClass]="{ 'is-invalid': submitted && f.nom.errors }">
                                              <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                                                <div *ngIf="f.nom.errors.required">nom required</div>
                                              </div>
                                                <label class="label--desc">Nom</label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="input-group-desc">
                                                <input step="1" class="input--style-5" type="number" formControlName="numMission"
                                                       [ngClass]="{ 'is-invalid': submitted && f.numMission.errors }" >
                                              <div *ngIf="submitted && f.numMission.errors" class="invalid-feedback">
                                                <div *ngIf="f.numMission.errors.required">nom required</div>
                                              </div>
                                                <label class="label--desc">Numéro Mission</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-row m-b-55">
                                <div class="name">Hébergement</div>
                                <div class="value">
                                    <div class="row row-space">
                                        <div class="col-2">
                                            <div class="input-group-desc">
                                                <input step="1" required class="input--style-5" type="number"
                                                    formControlName="nbNuit"
                                                       [ngClass]="{ 'is-invalid': submitted && f.nbNuit.errors }" >
                                              <div *ngIf="submitted && f.nbNuit.errors" class="invalid-feedback">
                                                <div *ngIf="f.nbNuit.errors.required">Nombre de nuité required</div>
                                              </div>

                                                <label class="label--desc">Nombre de nuité</label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="input-group-desc">
                                                <input class="input--style-5" type="number" formControlName="montantNuit"
                                                       [ngClass]="{ 'is-invalid': submitted && f.montantNuit.errors }" >
                                              <div *ngIf="submitted && f.montantNuit.errors" class="invalid-feedback">
                                                <div *ngIf="f.montantNuit.errors.required">Montant par nuitérequired</div>
                                              </div>
                                                <label class="label--desc">Montant par nuité</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-row m-b-55">
                                <div class="name">Déplacement</div>
                                <div class="value">
                                    <div class="row row-space">
                                        <div class="col-2">
                                            <div class="input-group-desc">
                                                <select formControlName="transport" class="input--style-7" name="role" id=""
                                                        [ngClass]="{ 'is-invalid': submitted && f.transport.errors }">
                                                    <option value="Bus">Bus</option>
                                                    <option value="Train">Train</option>
                                                    <option value="Taxi">Taxi</option>
                                                    <option value="Location Voiture">Location Voiture</option>
                                                </select>
                                              <div *ngIf="submitted && f.transport.errors" class="invalid-feedback">
                                                <div *ngIf="f.transport.errors.required">transport is required</div>
                                              </div>

                                                <label class="label--desc">Type de transport</label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="input-group-desc">
                                                <input class="input--style-5" type="number" formControlName="montantTransport"
                                                       [ngClass]="{ 'is-invalid': submitted && f.montantTransport.errors }" >
                                              <div *ngIf="submitted && f.montantTransport.errors" class="invalid-feedback">
                                                <div *ngIf="f.montantTransport.errors.required">Montant Demandé pour le transport required</div>
                                              </div>
                                                <label class="label--desc">Montant Demandé pour le transport</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row m-b-55">
                                <div class="name">Voyage</div>
                                <div class="value">
                                    <div class="row row-space">
                                        <div class="col-2">
                                            <div class="input-group-desc">
                                                <input required formControlName="dateArrivee" class="input--style-7"
                                                    type="date" id="start" name="trip-start" value="2021-01-01"
                                                    min="2022-01-01" max="2050-12-31"
                                                       [ngClass]="{ 'is-invalid': submitted && f.dateArrivee.errors }" >
                                              <div *ngIf="submitted && f.dateArrivee.errors" class="invalid-feedback">
                                                <div *ngIf="f.dateArrivee.errors.required">Date d'arrivée required</div>
                                              </div>
                                                <label class="label--desc">Date d'arrivée</label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="input-group-desc">
                                                <input required formControlName="dateRetour" class="input--style-7"
                                                    type="date" id="end" name="trip-start" value="2021-01-01"
                                                    min="2022-01-01" max="2050-12-31" [ngClass]="{ 'is-invalid': submitted && f.dateRetour.errors }" >
                                              <div *ngIf="submitted && f.dateRetour.errors" class="invalid-feedback">
                                                <div *ngIf="f.dateRetour.errors.required">Daate de retour required</div>
                                              </div>
                                                <label class="label--desc">Date de retour</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row m-b-55">
                                <div class="name">Vol</div>
                                <div class="value">
                                    <div class="row row-space">
                                        <div class="col-2">
                                            <div class="input-group-desc">
                                                <input class="input--style-5" type="text" formControlName="compagnie"
                                                       [ngClass]="{ 'is-invalid': submitted && f.compagnie.errors }" >
                                              <div *ngIf="submitted && f.compagnie.errors" class="invalid-feedback">
                                                <div *ngIf="f.compagnie.errors.required">Compagnie Aerienne required</div>
                                              </div>
                                                <label class="label--desc">Compagnie Aerienne</label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="input-group-desc"  for="montantVoyage">
                                                <input class="input--style-5" type="number" formControlName="montantVoyage"
                                                       [ngClass]="{ 'is-invalid': submitted && f.montantVoyage.errors }" >
                                              <div *ngIf="submitted && f.montantVoyage.errors" class="invalid-feedback">
                                                <div *ngIf="f.montantVoyage.errors.required">Montant Demandé pour le vol required</div>
                                              </div>
                                                <label class="label--desc">Montant Demandé pour le vol</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
<button class="btn btn--radius-2 btn--red" type="submit" (click)="onSubmit()">Enregistrer</button>
</body>
