.title {
    position: relative;
    padding-left: 10%;
    padding-right: 50%;
    padding-top: 5%;
    text-transform: uppercase;
    font-size: 200%;
    font-weight: 700;
    text-align: center;
    color: #132350;    
}

.img {
    position: absolute;
    width: 40%;
    top: 50%;
    right: 51%;
}

.description {
    padding-top: 2%;
    padding-left: 60%;
    text-align: center;
    font-size: 150%;
    color: #132350; 
    padding-right: 10%;
}